<!-- LIST VIEW -->

<!-- <md-progress-linear md-mode="indeterminate" ng-hide="{{vm.searcInfo.inProgress}}"></md-progress-linear> -->

<table class="results simple clickable" ms-responsive-table>
    <thead>
        <tr>
            <th></th>
            <th translate="SEARCH.NAME">Name</th>
            <th translate="SEARCH.POSITION">Owner</th>
            <th translate="SEARCH.PHONE">Size</th>
            <th translate="SEARCH.EMAIL">Modified</th>
        </tr>
    </thead>

    <tbody>
        <tr class="result-item" ng-repeat="pl in vm.players" ng-click="vm.select(pl)">
            <td class="text-left avatar-cell">
                <img class="avatar" alt="{{pl.name}}" src="assets/images/avatars/profile.jpg">
            </td>
            <td class="name">{{pl.name | capitalize}}</td>
            <td class="position">{{pl.team | capitalize}}</td>
            <td class="phone">{{pl.price[0] | currency}}</td>
            <td class="email">{{pl.role | uppercase}} ({{pl.role2 | uppercase}})</td>
        </tr>
    </tbody>
</table>