<div id="players" class="page-layout simple right-sidenav" layout="row">

    <!-- MAIN SIDENAV (EXTRA SIDENAV) -->
    <md-sidenav class="main-sidenav" md-component-id="main-sidenav"
                ng-include="'app/main/apps/players/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / MAIN SIDENAV (EXTRA SIDENAV) -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- HEADER -->
        <div class="header md-accent-bg">

            <div class="header-content" layout="column" layout-align="space-between">

                <!-- TOOLBAR -->
                <div class="toolbar" layout="row" layout-align="space-between">

                    <md-button class="md-icon-button main-sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')"
                               aria-label="Toggle Main Sidenav" translate
                               translate-attr-aria-label="FILE.TOOGLE_MAIN_SIDENAV">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>

                    <div class="right-side" layout="row">
                        <md-button class="md-icon-button" aria-label="Search" translate
                                   translate-attr-aria-label="FM.SEARCH">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip><span translate="FM.SEARCH">Search</span></md-tooltip>
                        </md-button>
                    </div>
                </div>
                <!-- / TOOLBAR -->
                
                <!-- INFO RESULTS -->
                <div class="result-info" layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="start start">
                    <div>
                        <span class="md-title" translate="SEARCH.CONTACTS">Players</span>
                        <span class="secondary-text">
                            <span>{{vm.searchInfo.results}}</span>
                            <span translate="SEARCH.RESULTS">Results</span>
                        </span>
                    </div>

                    <div class="pager" layout="row" layout-align="start center">
                        <span class="secondary-text">
                            <span translate="SEARCH.RESULTS">Results</span>
                            <span>&nbsp;</span>
                        </span>

                        <span class="page-info">
                            <span>{{vm.searchInfo.skip + 1}}</span>
                            <span>-</span>
                            <span>{{vm.searchInfo.skip + vm.searchInfo.results}}</span>
                            <span translate="SEARCH.OF">of</span>
                            <span>{{vm.searchInfo.total}}</span>
                        </span>

                        <md-button class="md-icon-button" aria-label="previous page" translate
                                translate-attr-aria-label="SEARCH.PREVIOUS_PAGE">
                            <md-icon md-font-icon="icon-chevron-left" ng-click="vm.searchPrev()"></md-icon>
                        </md-button>

                        <md-button class="md-icon-button" aria-label="next page" translate translate-attr-aria-label="SEARCH.NEXT_PAGE">
                            <md-icon md-font-icon="icon-chevron-right" ng-click="vm.searchNext()"></md-icon>
                        </md-button>

                    </div>
                </div>
                <!-- / INFO RESULTS -->
                
            </div>
            
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <div ng-include="'app/main/apps/players/views/list/list-view.html'"></div>
        </md-content>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav details-sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="details-sidenav"
                ng-include="'app/main/apps/players/sidenavs/details/details-sidenav.html'" ms-scroll
                ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->

</div>