#players {

    .center {

        .header {
            position: relative;

            .header-content {
                height: 100%;

                .breadcrumb {
                    font-size: 24px;
                    padding-left: 90px;

                    span {
                        cursor: pointer;

                        md-icon {
                            cursor: default;
                        }

                        &:last-child {

                            md-icon {
                                display: none;
                            }
                        }
                    }

                    .separator {
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
            }
            
        }

        .content {
            padding: 0;
            background: #FFFFFF;
        }
    }
    
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-md) {

    #players {

        .center {

            .header {

                .header-content {

                    .breadcrumb {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $layout-breakpoint-sm) {

    #players {

        .center {

            .header {

                .header-content {

                    .breadcrumb {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}