<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column" layout-align="space-between">
    
    <div class="toolbar" layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-click="vm.delete()" aria-label="Delete" translate
                   translate-attr-aria-label="FM.DELETE">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <md-tooltip><span translate="FM.DELETE">Delete</span></md-tooltip>
        </md-button>
        
        <md-button class="md-icon-button" ng-click="vm.delete()" aria-label="Starred" translate
                   translate-attr-aria-label="FM.STARRED">
            <md-icon md-font-icon="icon-star-outline"></md-icon>
            <md-tooltip><span translate="FM.STARRED">Delete</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Download" translate translate-attr-aria-label="FM.DOWNLOAD">
            <md-icon md-font-icon="icon-download"></md-icon>
            <md-tooltip><span translate="FM.DOWNLOAD">Download</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="More" translate translate-attr-aria-label="FM.MORE">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span translate="FM.MORE">More</span></md-tooltip>
        </md-button>
    </div>

    <div>
        <div class="title">{{vm.selected.name | capitalize}}</div>
        <div class="subtitle secondary-text"><span translate="FM.EDITED">Edited</span>: {{vm.selected.dt_update}}</div>
    </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

    <div class="file-details">
                
        <h3 class="title" translate="FM.SCORES">Info</h3>
        
        <div class="card">
            <chartist class="ct-chart ct-golden-section"
                chartist-data="vm.lineChart.data"
                chartist-chart-type="Line"
                chartist-chart-options="vm.lineChart.options" />
        </div>
        
        <h3 class="title" translate="FM.STATISTICS">Statistiche</h3>

        <table>
            
            <thead>
                <tr>
                    <th></th>
                    <td>16/17</td>
                    <td>15/16</td>
                    <td>14/15</td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <th translate="FM.GZ_A">a</th>
                    <td>{{vm.selected.stats.gz_a.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_a.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_a.historical['2014-15']}}</td>
                </tr>

                <tr>
                    <th translate="FM.GZ_AM">am</th>
                    <td>{{vm.selected.stats.gz_am.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_am.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_am.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_ES">es</th>
                    <td>{{vm.selected.stats.gz_es.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_es.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_es.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_G">g</th>
                    <td>{{vm.selected.stats.gz_g.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_g.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_g.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_MM">mm</th>
                    <td>{{vm.selected.stats.gz_mm.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_mm.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_mm.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_MP">mp</th>
                    <td>{{vm.selected.stats.gz_mp.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_mp.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_mp.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_MV">mv</th>
                    <td>{{vm.selected.stats.gz_mv.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_mv.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_mv.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_PG">pg</th>
                    <td>{{vm.selected.stats.gz_pg.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_pg.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_pg.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_R">r</th>
                    <td>{{vm.selected.stats.gz_r.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_r.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_r.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_RP">rp</th>
                    <td>{{vm.selected.stats.gz_rp.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_rp.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_rp.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_RS">rs</th>
                    <td>{{vm.selected.stats.gz_rs.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_rs.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_rs.historical['2014-15']}}</td>
                </tr>
                
                <tr>
                    <th translate="FM.GZ_RT">rt</th>
                    <td>{{vm.selected.stats.gz_rt.historical['2016-17']}}</td>
                    <td>{{vm.selected.stats.gz_rt.historical['2015-16']}}</td>
                    <td>{{vm.selected.stats.gz_rt.historical['2014-15']}}</td>
                </tr>
                
            </tbody>
            
        </table>
    </div>

</md-content>
<!-- / SIDENAV CONTENT -->